@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    
}

img{
    border: 0;
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    /* font-size: 10px; */
    overflow: hidden;
}

/* common */
.container{
    position: relative;
    display: block;
    width: 120rem;
    height: 10rem;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
/* common-end */
.wrap{
    position: relative;
    display: block;
}

.header{
    position: fixed;
    left:0;
    top:0;
    display: block;
    width: 100%;
    height: 10rem;
    z-index: 100;
}

.logo{
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7.8rem;
    height: 7.8rem;
    background: url('../images/logo.png') no-repeat center;
}

.header{
    background-color: rgba(255,255,255, 0.8);
}
.gnb{
    position: relative;
    display: block;
    overflow: hidden;
    margin-left: 28rem;
    margin-right: 18rem;
}
.gnb > li{
    float: left;
    padding-left: 4.5rem;
}
.gnb > li > a{
    display:block;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 10rem;
}
.gnb>li:first-child{
    padding-left: 0;
}

/* visual */
.visual{
    position:relative;
    display: block;
    /* height: 97rem; */
    height: 100vh;
    
    background: url('../images/section01_bg.png') no-repeat center;
    background-size: cover;
}

.mini:nth-child(1){
    position: absolute;
    left: 60vw;
    top: 18vh;
}
.mini:nth-child(2){
    position: absolute;
    left: 44vw;
    top: 28.4vh;
}
.mini:nth-child(3){
    position: absolute;
    left: 74vw;
    top: 48vh;
}
.mini:nth-child(4){
    position: absolute;
    left: 18vw;
    top: 34vh;
}   
.mini:nth-child(5){
    position: absolute;
    left: 52vw;
    top: 66vh;
}
.mini-box{
    width: 18rem;
    height: 6.5rem;
    background-color: rgba(0,0,0,0.6);
    
}
.mini:nth-child(2) .mini-box{
    width: 14rem;
}
.mini:nth-child(5) .mini-box{
    width: 11.6rem;
}

.mini-text{    
    padding: 0.8rem;
}
.mini-text>p{
    font-size: 1.6rem;
    color: #fff;
    line-height: 2.5rem;
}

.mini-arrow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4.25rem;
    font-size: 5rem;
    color: rgba(0,0,0,0.6);
    margin: 0 auto;
}

.mini-me{
    position:relative;
    display:block;
    margin: 0 auto;
    margin-top: 2.5rem;
}
/* visual end */
/* profile */
.profile{
    position: relative;
    display: block;
}
.profile .container{
    width: 104rem;
    
}

.profile-tit{
    position: relative;
    display: block;
    margin-top: 4rem;
    height: 21rem;
}

.p-tit-img{
    position: absolute;
    top: 0;
    left:0;
    display:block;
    width: 8.3rem;
    height: 8.3rem;
    
    background: url('../images/section02_rec.png') no-repeat center;


}
.profile-tit>h2{
    position: relative;
    display: block;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 3.3rem;
    margin-left: 4.3rem;
    margin-bottom: 4.0rem;
    line-height: 5rem;

}
.p-tit-img::after{
    content:'';
    position:relative;
    display:block;
    width: 25.2rem;
    height: 1rem;
    margin-top: calc(8.3rem + 1.5rem);

    background: url('../images/section02_yellowbar.png') no-repeat left;
    background-size: cover;
}
.profile-tit>p{
    position: relative;
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
}

.profile-box-left{
    position:relative;
    display: block;
    float:left;
}

.profile-box-right{
    position:relative;
    display: block;
}

.profile-skill{
    position:relative;
    display: block;
}



/* profile end */